<div class="container-fluid bg-gradiant">
    <div class="row">
        <div class="col-md-4 offset-md-4">
    <form #newPlace="ngForm" class="add" (ngSubmit)="AddPlace(); ">
            <h3>{{title}}</h3>   

            <div class="form-group">
                <label>Place </label>
                <small class="text-danger" [class.d-none]="place.valid">*required</small>      
                <input type="text" name="place" class="form-control  rounded-0" [(ngModel)]="newData.place" #place="ngModel" required>
            </div>
            <div class="form-group">
                <label>Taluk
                </label>
                <small class="text-danger" [class.d-none]="taluk.valid">*required</small>
               <input type="text" name="taluk" class="form-control  rounded-0" [(ngModel)]="newData.taluk" #taluk="ngModel" required>
            </div>
            <div class="form-group">
                <label>Duration
                </label>
                <small class="text-danger" [class.d-none]="duration.valid">*required</small>
        
               <input type="text" name="duration" class="form-control  rounded-0" [(ngModel)]="newData.duration" #duration="ngModel" required>
            </div>
            <div class="form-group">
                <label>Note
                </label>
        
               <input type="text" name="note" class="form-control  rounded-0" [(ngModel)]="newData.note" #note="ngModel" >
            </div>
            <button type="submit" [disabled]="newPlace.form.invalid" class="btn btn-primary btn-block" >Add</button>


    </form>
</div>
</div>
</div>
